<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<% if @albums.any? %>
  <ul> <% @albums.each do |album| %>      
    <li><a href="/albums/<%= album.id %>"><%= album.name %> By: <%= album.artist %> </a> </li>
  <% end %>
<% else %>
  </ul> <p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>

<form action="/albums">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
<% array = Album.search(params[:search]) %>
<% if array.any? %>
  <ul> <% array.each do |album| %>      
    <li><a href="/albums/<%= album.id %>"><%= album.name %> By: <%= album.artist %> </a> </li>
  <% end %>
<% else %>
  </ul> <p>There are currently no searched records to display.</p>
<% end %>
<br>
<form action="/albums/sort" method="post">
<button type="submit" class="btn">Sort Alphabetically</button>
</form>